*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --yellow-base: hsl(40, 100%, 50%);
    --bg-dark-white: hsl(0, 50%, 95%);

    --border-white: white;
    --border-rd: 3px;

    --list-bg: hsl(0, 0%, 94%);
    --list-shadow: hsla(0, 0%, 0%, .1);
}

html {
    font-size: 16px;
}

body {
    min-height: 100vh;
    background-color: var(--yellow-base);
    display: flex;
    justify-content: center;
}

#app {
    margin-top: 8rem;
}